body{
  background-color:tan;
}
.App{
  background-color:darkslategrey;
  min-height: 500px;
  width: 400px;
  margin :40px auto;
}
#to-do-form input{
  background-color:black;
  border: 0;
  width: 200px;
  height: 45px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color:white;
}
#to-do-form input::placeholder{
  color: tan;

}
#to-do-form input:focus,#to-do-form button:focus{
outline: none;
}

#to-do-form button{
  height: 43px;
  width: 70px;
  border: 0;
  border-radius: 5px;
  background-color: tan;
  cursor: pointer;
  font-weight: bolder;
  color:darkslategrey;
}

