.list{
    color:darkslategrey;
    width: 320px;
    background-color:tan ;
    height: 45px;
    margin: 20px auto;
    border-radius: 5px; 
}
.list:focus{
   outline: none;
}
.list p{
padding: 10px;
position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15 px;    

}